{% extends 'base.html' %}

{% block content %}

<h1 class="mb-2">Customer record:</h1>
<a href="{% url 'home' %}" class="btn btn-primary mb-4">Back</a>
{% if record%}
    <div class="card">
        <div class="card-header"> 
            {{record.first_name}} {{record.last_name}}  
        </div>
        <div class="card-body">
            <p class="card-text">
                <strong>Email:</strong> {{record.email}}
            </p>
            <p class="card-text">
                <strong>Phone:</strong> {{record.phone}}
            </p>
            <p class="card-text">
                <strong>Address:</strong> {{record.address}}
            </p>
            <p class="card-text">
                <strong>City:</strong> {{record.city}}
            </p>
            <p class="card-text">
                <strong>State:</strong> {{record.state}}
            </p>
            <p class="card-text">
                <strong>Zipcode:</strong> {{record.zipcode}}
            </p>
            <a href="{% url 'update_record' record.id %}" class="btn btn-secondary">Edit</a>
            <a href="{% url 'delete_record' record.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% endif %}
{% endblock %}